@*<!DOCTYPE html>*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <title>@ViewBag.Title</title>
    @*<link rel="icon" type="image/x-icon" href="~/Content/img/favicon.ico">*@
    <link rel="icon" sizes="152x152" href="~/Content/img/color-ineqbody-152.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/color-ineqbody-152.png">
    @Styles.Render("~/Content/css?ver=1.01")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        body {
            margin: 0px;
            overflow: hidden;
        }

        canvas {
            width: 100%;
            height: 100%;
        }

        a:focus {
            outline:none;
        }

        .navbar-inverse {
            background: rgba(70,70,70,0.8);
            border:none!important
        }
        .dropdown-menu {
            background: rgba(70,70,70,0.8);
        }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
            color:#aaa;
        }

        .bounding-box .row {
            margin-bottom: 10px;
        }

        .navbar-brand {
            padding: 0px;
        }

        .navbar-brand > img {
            height: auto;
            padding: 15px;
            width: auto;
            padding: 7px 15px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Ineq3DMesh")" class="navbar-brand">
                    <img src="~/Content/img/color-ineqbody-36.png" title="Ineq3D Online" alt="Ineq3D Online" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @RenderSection("Samples", required: false)
                    <li><a href="#modalCreateMesh" id="lnkCreateMesh" data-toggle="modal" data-target="#modalCreateMesh" data-keyboard="true">Create mesh</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Improve mesh<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="lnkImproveMeshQuality">Improve mesh quality</a></li>
                            <li><a href="#" id="lnkImproveBoundaryMeshQuality">Improve boundary mesh quality</a></li>
                            <li><a href="#" id="lnkImproveMeshCurvatureQuality">Improve approximation by curvature</a></li>
                            <li><a href="#" id="lnkImproveMeshJiggle">Laplacian smoothing</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animate<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#modalSetUFunc" id="lnkSetUFunc" data-toggle="modal" data-target="#modalSetUFunc" data-keyboard="true">Flow simulation</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="checkbox"><label><input type="checkbox" id="chckAutoRotate" checked="checked">&nbsp;Auto rotate</label></a></li>
                            <li><a href="#" id="lnkRotateFaster">Increase rotation angle</a></li>
                            <li><a href="#" id="lnkRotateSlower">Decrease rotation angle</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-form">
                            <li><a href="#" id="lnkResetCamera">Reset camera</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="radio"><label><input type="radio" id="radioMaterial0" name="radioMaterial" value="0" checked="checked">&nbsp;Phong</label></a></li>
                            <li><a href="#" class="radio"><label><input type="radio" id="radioMaterial1" name="radioMaterial" value="1">&nbsp;Lambert</label></a></li>
                            <li><a href="#" class="radio"><label><input type="radio" id="radioMaterial2" name="radioMaterial" value="2">&nbsp;Normal</label></a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="checkbox"><label><input type="checkbox" id="chckSmooth" checked="checked">&nbsp;Smooth</label></a></li>
                            <li><a href="#" class="checkbox"><label><input type="checkbox" id="chckDoubleSide">&nbsp;Double side</label></a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="radio"><label><input type="radio" id="radioRenderStyle0" name="radioRenderStyle" value="0">&nbsp;Fill</label></a></li>
                            <li><a href="#" class="radio"><label><input type="radio" id="radioRenderStyle1" name="radioRenderStyle" value="1">&nbsp;Wireframe</label></a></li>
                            <li><a href="#" class="radio"><label><input type="radio" id="radioRenderStyle2" name="radioRenderStyle" value="2" checked="checked">&nbsp;Fill and wireframe</label></a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="checkbox"><label><input type="checkbox" id="chckBoundingBox">&nbsp;Bounding box</label></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/three")
    @Scripts.Render("~/bundles/parser")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $('.dropdown-menu').on('click', function (e) {
            if ($(this).hasClass('dropdown-menu-form')) {
                e.stopPropagation();
            }
        });
    </script>
</body>
</html>
