@model Ineq3DOnline.MeshSamples

@{

    ViewBag.Title = "Ineq3D Online";
    Layout = "_LayoutThree.cshtml";
}

@{ Html.RenderPartial("_CreateMeshDialog", Ineq3DOnline.Models.IneqMeshViewModel.DefaultModel()); }

@section Samples
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Samples<span class="caret"></span></a>
        <ul class="dropdown-menu">

            @foreach (var m in Model.Samples)
            {
                <li>@Html.ActionLink(m, "GetMesh", "Ineq3DMesh", new { Mesh = m }, htmlAttributes: new { data_mesh = "" })</li>
            }
        </ul>
    </li>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        });
    </script>

    <script>
        var camera, scene, renderer, controls, geometry, material, mesh, bbox;
        var rotation_x = 0;
        var rotation_y = 0;
        var currentMeshUrl = '@Url.Action("GetMesh", "Ineq3DMesh", new { Mesh = ViewBag.CurrentMesh })';
        var spinner;

        var init = function () {
            var width = window.innerWidth;
            var height = window.innerHeight;

            camera = new THREE.PerspectiveCamera(60, width / height, 0.01, 1e10);
            camera.position.z = 2.2;

            scene = new THREE.Scene();
            scene.add(camera);

            var dirLight = new THREE.DirectionalLight(0xffffff);
            dirLight.position.set(200, 200, 1000).normalize();
            camera.add(dirLight);
            camera.add(dirLight.target);

            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(width, height);
            $('body').append(renderer.domElement);

            controls = new THREE.TrackballControls(camera, renderer.domElement);
            controls.rotateSpeed = 5.0;
            controls.zoomSpeed = 5;
            controls.panSpeed = 2;
            controls.noZoom = false;
            controls.noPan = false;
            controls.staticMoving = false;
            controls.dynamicDampingFactor = 0.3;
        }

        var refreshGeometry = function (newGeometry) {

            if (newGeometry && newGeometry.faces.length > 0) {
                geometry = newGeometry;
                geometry.normalize();
                geometry.computeFaceNormals();
            } else if (newGeometry && newGeometry.faces.length == 0) {
                alert('You must first create custom mesh.');
            }

            if ($('#chckSmooth').prop('checked')) {
                if (geometry.faces[0].vertexNormals.length == 0) {
                    geometry.computeVertexNormals();
                    if (!newGeometry) {
                        geometry = geometry.clone();
                    }
                }
            } else {
                if (geometry.faces[0].vertexNormals.length != 0) {
                    for (var i = 0; i < geometry.faces.length; i++) {
                        geometry.faces[i].vertexNormals = []; // remove vertex normals
                    }
                    if (!newGeometry) {
                        geometry = geometry.clone();
                    }
                }
            }

            if (mesh) {
                rotation_x = mesh.rotation.x;
                rotation_y = mesh.rotation.y;
            }

            clearScene();

            var renderStyle = parseInt($('input[name=radioRenderStyle]:checked').val());
            var mat = parseInt($('input[name=radioMaterial]:checked').val());

            switch(mat) {
                case 0:
                    material = new THREE.MeshPhongMaterial({ vertexColors: THREE.VertexColors, specular: 0x111111, shininess: 70, side: THREE.DoubleSide, shading: $('#chckSmooth').prop('checked') || renderStyle == 1 ? THREE.SmoothShading : THREE.FlatShading, wireframe: renderStyle == 1 });
                    break;
                case 1:
                    material = new THREE.MeshLambertMaterial({ vertexColors: THREE.VertexColors, side: THREE.DoubleSide, wireframe: renderStyle == 1/*, opacity: 0.5, color: 0x44ff44, transparent: true*/ });
                    break;
                case 2:
                    material = new THREE.MeshNormalMaterial({ side: THREE.DoubleSide, wireframe: renderStyle == 1 });
                    break;
            }

            //material.needsUpdate = true;
            //geometry.needsUpdate = true;

            mesh = new THREE.Mesh(geometry, material);
            scene.add(mesh);

            if (renderStyle == 2) {
                edges = new THREE.WireframeHelper(mesh, 0x000000);
                scene.add(edges);
            }

            if ($('#chckBoundingBox').prop('checked')) {
                bbox = new THREE.BoundingBoxHelper(mesh, 0xff0000);
                bbox.material = new THREE.MeshLambertMaterial({ color: 0xffffff, opacity: 0.25, transparent: true });
                bbox.update();
                bbox.scale.x = 1.02 * bbox.scale.x;
                bbox.scale.y = 1.02 * bbox.scale.y;
                bbox.scale.z = 1.02 * bbox.scale.z;
                scene.add(bbox);
            }

            mesh.rotation.x = rotation_x;
            mesh.rotation.y = rotation_y;

            if (bbox) {
                bbox.rotation.copy(mesh.rotation);
            }

            hideSpinner();
        }

        var loadMesh = function (url) {
            showSpinner();
            currentMeshUrl = url;
            var loader = new THREE.PLYLoader();
            loader.load(url, refreshGeometry);
        }

        var clearScene = function () {
            for (var i = 0; i < scene.children.length; i++) {
                var current = scene.children[i];
                if (current instanceof THREE.Mesh || current instanceof THREE.WireframeHelper) {
                    current.geometry.dispose();
                    scene.remove(current);
                    i--;
                }
            }
        }

        var render = function () {
            requestAnimationFrame(render);
            controls.update();

            if (mesh && $('#chckAutoRotate').prop('checked')) {
                mesh.rotation.x += 0.005;
                mesh.rotation.y += 0.01;

                if (bbox) {
                    bbox.rotation.copy(mesh.rotation);
                }
            }

            renderer.render(scene, camera);
        }

        var onWindowResize = function () {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
        }

        $(function () {
            init();
            render();
            loadMesh(currentMeshUrl);
            $(window).resize(onWindowResize);
            $("textarea").getTab();

            $('#lnkResetCamera').click(function (e) {
                controls.reset();
            });

            $('#btnCreateMesh').click(function (e) {
                $('#formCreateMesh').validate();
                if ($('#formCreateMesh').valid()) {
                    $.post('@Url.Action("SetIneqMesh")',
                        $('#formCreateMesh').serialize(),
                        function (data) {
                            if (data.success) {
                                $('#modalCreateMesh').modal('hide');
                                loadMesh('@Url.Action("GetCustomMesh", "Ineq3DMesh", /*new { Mesh = "[custom]" }*/null)' + '?ts=' + $.now());
                            } else {
                                $("[data-valmsg-for='Formula']").text(data.message)
                            }
                        });
                }
                //e.preventDefault();
                //return false;
            })

            $('#lnkImproveMeshQuality').click(function (e) {
                loadMesh('@Url.Action("GetCustomMeshImproveQuality", "Ineq3DMesh", null)' + '?ts=' + $.now());
            });

            $('#lnkImproveMeshCurvatureQuality').click(function (e) {
                loadMesh('@Url.Action("GetCustomMeshImproveCurvatureQuality", "Ineq3DMesh", null)' + '?ts=' + $.now());
            });

            $('#lnkImproveMeshJiggle').click(function (e) {
                loadMesh('@Url.Action("GetCustomMeshJiggle", "Ineq3DMesh", null)' + '?ts=' + $.now());
            });
        });


        $(document).on('click', 'a[data-mesh]', function (e) {
            loadMesh(this.href);
            return false;
        });

        $('input[name=radioRenderStyle],input[name=radioMaterial],#chckSmooth,#chckBoundingBox').on('change', function () {
            //loadMesh(currentMeshUrl);
            refreshGeometry();
        });

        function showSpinner() {

            if(!spinner){
                var opts = {
                    lines: 13, // The number of lines to draw
                    length: 20, // The length of each line
                    width: 10, // The line thickness
                    radius: 30, // The radius of the inner circle
                    corners: 1, // Corner roundness (0..1)
                    rotate: 0, // The rotation offset
                    direction: 1, // 1: clockwise, -1: counterclockwise
                    color: '#ffffff', // #rgb or #rrggbb or array of colors
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false, // Whether to use hardware acceleration
                    className: 'spinner', // The CSS class to assign to the spinner
                    zIndex: 2e9, // The z-index (defaults to 2000000000)
                    top: 'auto', // Top position relative to parent in px
                    left: 'auto' // Left position relative to parent in px
                };
                spinner = new Spinner(opts);
            }
            var target = $('body').get(0); //document.getElementById('WebGL-output');

            spinner.spin(target);
        }

        function hideSpinner() {
            if (spinner) {
                spinner.stop();
            }
        }

        $.fn.getTab = function () {
            this.keydown(function (e) {
                if (e.keyCode === 9) {
                    var val = this.value,
                        start = this.selectionStart,
                        end = this.selectionEnd;
                    this.value = val.substring(0, start) + '\t' + val.substring(end);
                    this.selectionStart = this.selectionEnd = start + 1;
                    return false;
                }
                return true;
            });
            return this;
        };
    </script>
}
